// .email-custom-outline {
//     .v-text-field__slot:focus-within {
//         top: -5px;
//     }
//     .v-input__slot > fieldset > legend {
//         margin-left: 13px;
//     }
// }
// .password-custom-outline {
//     .v-text-field__slot:focus-within {
//         top: -5px;
//     }
//     .v-input__slot > fieldset > legend {
//         margin-left: 15px;
//     }
// }

// .repeat-password-custom-outline {
//     .v-text-field__slot:focus-within {
//         top: -5px;
//     }
//     .v-input__slot > fieldset > legend {
//         margin-left: 22px;
//     }
// }

// .notEmptyEmail {
//     .v-text-field__slot {
//         top: -5px;
//     }
// }
// .notEmptyPassword {
//     .v-text-field__slot {
//         top: -5px;
//     }
// }

// .notEmptyRepeatPassword {
//     .v-text-field__slot {
//         top: -5px;
//     }
// }

body {
    overflow-y: auto;
    scrollbar-width: none;
    background-color: #fdfdfd;
}

body::-webkit-scrollbar {
    display: none !important;
  }

.email-custom-outline input::-webkit-calendar-picker-indicator {
    opacity: 0;
    pointer-events: none;
  }

.switch-form-text {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 500;
    text-align: center;
}

.switch-form-link {
    margin-left: 5px;
    color: #264058;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}